In [2]:
print ("hello World")

hello World

In [11]:
SALARY_RAISE_FACTOR =0.05 
STATE_CODE_MAP = {'WA':'Washington','TX':'Texas'}

def update_employee_record(rec):
    old_salary=rec['salary']
    new_salary=old_salary * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] =new_salary
    state_code = rec['state_code']
    rec['state_name']=STATE_CODE_MAP[state_code]
input_data =[
    {'employee_name':'Susan' ,'salary':100000.0,
    'state_code':'WA'},
    {'employee_name':'Ellen','salary':75000.0,
    'state_code':'TX'},
]    


for rec in input_data:

    update_employee_record(rec)
    print(rec['employee_name'] +' makes $'+ str(rec['salary']))

Susan makes $105000.0
Ellen makes $78750.0

In [12]:
this_is_true = (0 < 100)
this_is_false = (0 > 100)
print(this_is_true)
print(this_is_false)

True
False

In [7]:
multi_line_string = """line 1'
\tline 2"""
print(multi_line_string)

line 1'
	line 2

In [13]:
var ="moni pandey"
print(var[0] , var[1:],var[2:5])
print(var[0] , print(var[1:]),print(var[2:5]))

m oni pandey ni
oni pandey
ni
m None None

In [19]:
#ordere in set is not fixed 
#tuple elements cant be modified 
#list: order is maintained 

my_list = ["a ", "b ", "c ","c"]
my_set = set(my_list)
my_tuple = tuple(my_list)
print(my_list)
print(my_set)
print(my_tuple)

hey = ('Hi!',) * 4
tuple(hey)
print(hey)

['a ', 'b ', 'c ', 'c']
{'a ', 'c ', 'c', 'b '}
('a ', 'b ', 'c ', 'c')
('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [21]:
m_list = ["a","b","c","d","e"]
print(m_list[0])
m_list.append("f")
print(m_list)

a
['a', 'b', 'c', 'd', 'e', 'f']

In [30]:
number_list=[2,2,2]
squares =[x*x for x in number_list]
print(squares)
number_list.append(3)
print(number_list)
sq_even = [x*x for x in number_list if x%2==0] 
print(sq_even)
print(number_list[-1:])

[4, 4, 4]
[2, 2, 2, 3]
[4, 4, 4]
[3]

In [37]:
v = "moni pandey".split(" ")
print(v)
m= "ABcABdABe".split("AB")
print(m)

['moni', 'pandey']
['', 'c', 'd', 'e']

In [43]:
list1 = ["m","o","n","i"]
k=",".join(list1)
print(k)
l=" ".join(list1)
print(l)
m="".join(list1)
print(m)

m,o,n,i
m o n i
moni

In [44]:
start, end , count = 1 ,7 ,2
f = "aBcDeFg"[start: end: count]
print(f)

BDF

In [49]:
my_tuple=(1,2,3)
af,bf,cf=my_tuple
print(af,bf,cf)

1 2 3

In [64]:
my_dict={"jan":1 ,"feb":2}
print(my_dict["jan"])
my_dict["march"]=3
print(my_dict)

new_dict=my_dict.items()
print(new_dict)
#print(new_dict["jan"])
#print(next(new_dict))

for key, value in my_dict.items():
 print ("the value for ", key, " is ", value)

1
{'jan': 1, 'feb': 2, 'march': 3}
dict_items([('jan', 1), ('feb', 2), ('march', 3)])
the value for  jan  is  1
the value for  feb  is  2
the value for  march  is  3

In [59]:
s = set()
print(5 in s )
s.add(5)
print(5 in s)

False
True

In [60]:
sqr = lambda x : x+5 
print(sqr(1))

6

In [61]:
def apply_to_evens(a_list, a_func):
 return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)

print(sqrs_of_evens)

[4, 16]

In [65]:
input_text ="""line1
line2 
line3"""

try:
    lines=input_text.split("\n")
    print("third line : ", lines[2])
    print("yey:",lines[3])
except:
    print("exception")

third line :  line3
exception

In [2]:
class Dog:
 def __init__(self, name):
  self.name = name
 def respond_to_command(self, command):
  if command == self.name: self.speak()
 def speak(self):
  print ("bark bark!!")
fido = Dog("fido")
fido.respond_to_command("spot")  # does nothing
fido.respond_to_command("fido")  # prints bark bark

bark bark!!

In [4]:

# import Pandas. I always alias it as pd
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
# display the values in s
# note index is to the far left
s
s+2 
s
s.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
>>> df_w_age = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33]
 })
>>> df_w_height = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "height": [6.2, 4.0, 5.5]
 })
>>> joined = df_w_age.set_index("name").join(
df_w_height.set_index("name"))
>>> joined

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [8]:
>>> df = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],
    "gender": ["M", "M", "F"]
 })
>>> # use built-in aggregates
>>> print (df.groupby("gender").mean())

>>> medians = df.groupby("gender").quantile(0.5)
>>> # Use a custom aggregation function
>>> def agg(ddf):
    return pd.Series({
    "name": max(ddf["name"]),
    "oldest": max(ddf["age"]),
    "mean_height": ddf["height"].mean()
    })
>>> print (df.groupby("gender").apply(agg))

         age  height
gender
F       33.0     5.5
M       42.5     5.1
        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60